.App {
  text-align: center; }

.App-header {
  background-color: darkgreen;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.control {
  height: 50%;
  position: relative; }

.control-field {
  width: 4vw; }

.live {
  background-color: red; }

.new {
  background-color: pink; }

.dead {
  background-color: grey; }
